* {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* NAVIGATION BAR */
nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #1F2937;
    color: white;
    padding-bottom: 7em;
}

ul {
    display: flex;
    list-style: none;
    gap: 2em;
    font-size: 18px;
}

a {
    color: #E5E7EB;
    text-decoration: none;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

/* Hero Area */
.hero {
    background-color: #1F2937;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 80px;
}

.intro h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.intro p {
    font-size: 18px;
    color: #E5E7EB;
}

.intro button {
    background-color: #3882F6;
    border-color: #3882F6;
    border-radius: 8px;
    margin-top: 10px;
    color: white;
}

.hero img {
    width: 350px;
    height: 250px;
}

/* Information area */
.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 0 0 0;
}

.infoHeader {
    font-size: 36px;
    font-color: #1F2937;
    font-weight: 900;
    padding: 0 0 50px 0;
}

.boxArea {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    gap: 55px;
    font-size: 8x;
    padding: 0 0 50px 0;
}

.boxArea img {
    width: 80px;
    height: 80px;
}

/* Quote Area */
.quote {
    background-color: #E5E7EB;
    font-size: 18px;
    color: #1F2937;
    font-weight: 500;
    text-align: center;

    padding: 50px 0;
}

.author {
    display: flex;
    flex-direction: row-reverse;
    padding-right: 250px;
    padding-top: 10px;
}

/* Call to action area */
.action {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px 30px;
    background-color: #3882F6;
    max-width: 80%;
    margin: 90px auto;
    border-radius: 8px;
    text-align: center;
}

.action h3 {
    color: white;
}

.action p {
    color: rgb(213, 213, 213);
    font-size: 12px;
}

button {
    background-color: #3882F6;
    color: white;
    border: solid 1px white;
    border-radius: 8px;
    padding: 10px 10px;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    color: white;
    padding: 20px 30px;
}